.Logo {
    /* background-color: white; */
    /* padding: 1px; */
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;


}

@media screen and (min-width:800px) {
    .Logo img {
        height: 100%;
    }
}