
* {
  box-sizing: border-box;
}

.theme-dark {
  /* --dark-text: #292929; */
  --dark-text: #b5e675;
  --light-text: #F9F8F8;  
  --button-background: #586F7C;
  /* --dark-background: #2F4550; */
  --pure-background: #000;
  --dark-background: #111111;
  --light-background: #444444;
  --accent: #B8DBD9;
  --button-border: #B8DBD9;
  --link-color: lightblue;  
  --button-background: rgba(84, 146, 209, 0.4);
  --button-background-solid: rgb(84, 146, 209);
  --button-text-color: rgb(202, 216, 248);
}

.theme-light {
  --dark-text: #5E4B56;
  --light-text: #5E4B56;
  --button-background: #888888;
  --dark-background: #DBE7E4;
  --light-background: #EDDCD2;
  --accent: #888888;
  --button-border: #5E4B56;
  --link-color: darkblue; 
  --button-background: rgba(221, 174, 19, 0.507);
  --button-background-solid: rgb(221, 174, 19);
  --button-text-color: rgb(9, 43, 117);
}

/* html, #root {
  background-color: var(--pure-background);
  background: var(--pure-background);
  color: var(--dark-text);
} */

nav {
  /* background-color: var(--dark-background); */
  color: var(--light-text);
}

.main-container {
  background-color: var(--light-background);
}

.checkbox {
  opacity: 0;
  position: absolute;
  
  
}

.label {
  /* margin-left: 50px; */
  margin: auto;
  width: 50px;
  height: 26px;
  background-color:var(--button-background);;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  border: 1px solid var(--light-text);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: var(--light-text);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}


/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}


body {
  margin: auto;
  background: var(--dark-background);
  color: var(--dark-text);
  font-family: 'Karla', sans-serif;
  
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#root {
  height: 100vh;  
  width: 100vw;
  max-width: 1200px;
  margin: auto;

  /* min-width: 1000px; */
  padding: 50px;
  padding-right: 3%;
  padding-left: 3%;  
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: #ddeae1; */
  /* color: #4de76e; */
}

h1 {
  margin: 0;
}

pre {
  display: inline-block;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-size: 16px;
  white-space: pre;
  margin: 1em 0px;
}
.show_main{
  padding-bottom: 20px;
}

.highlight {
  /* background-color: dimgray; */
  color: darkgreen

}
.button_main {
  /* background-color: #4CAF50; */
  border: none;
  /* color: white; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
}
.button_border{
  border: 1px solid dimgray;
}




.timedate {
  position: relative;
  display: inline-block;
  border: none;
  /* color: white; */
  padding-left: 32px;
  /* text-align: center; */
  text-decoration: none;
  font-size: 16px;
}

#more {
  margin: 5px;
  font-family:Verdana, Geneva, sans-serif;
  cursor:pointer;
}

.arrow_right_text{
  color: var(--button-text-color);
  font-size: 20px;
  font-family: 'Raleway',sans-serif;
  font-weight: 500; 
  text-align: center; 
  text-transform: uppercase;
  
}

.main_content {
  display: inline-block;
  position: relative;
  background: inherit;
  width: 100%;
  border: none;
  padding: 2% 1%;
  text-align: left;
  text-decoration: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-size: 16px;
  border: 1px  groove var(--light-text);
}
.sub_ongoing{
  /* border: 2px solid darkolivegreen; */
  border: none;
}
.knowledge {
  /* background-color: darkslateblue; */
  border: none;
  /* background-color: inherit; */
}

.ongoing {
  background-color: inherit;
}

.ongoing_chronology{
  /* background-color: rgb(71, 87, 43); */
  padding-bottom: 5px;
  /* background-color: olivedrab; */
}
.ongoing_relationship{
  /* background-color: rgb(71, 87, 43); */
  margin-top: 0px !important;
  margin-bottom: 10px;
  padding-top: 0px;

  /* background-color: olivedrab; */
}
.setupenv {
  /* background-color: darkslategrey; */
  border: none;
  /* background-color: inherit; */
}
a:link {
  color: var(--link-color);
}
a:visited {
  color: lightsalmon;
}
/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
	background: #00356B;
}

#particles-js canvas {
  display: block;
  /* vertical-align: bottom; */
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}

pre,  /* stackoverflow */
.md:not(.use-csslab) pre code
 {
  white-space: pre-wrap;
}

.highlight_quote {
  background-color: #00356B;
  font-style: oblique;
}

blockquote{
  font-size: 1.4em;
  width:80%;
  margin:10px auto;
  font-family:Open Sans;
  font-style:italic;
  /* color: #555555; */
  /* color:whitesmoke; */
  padding:1.2em 10px 10px 10px;
  border-left:8px solid #78C0A8 ;
  line-height:1.2;
  position: relative;
  /* background:#EDEDED; */
  background: rgba(72,61,139,0.4);
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

mdname{
  color: lightskyblue;
  font-weight: 500;
}
mdemail{
  color:lightcoral;
  font-weight: 600;
}


.footer{
  margin-top: 0px;
  /* padding: 1rem; */
  /* background-color: rgb(235, 195, 64); */
  /* background-color: darkgoldenrod; */
  background-color: rgba(255,255,255,1);
  /* position: relative; */
  bottom: 0;
  left: 0;
  width: 100%;
  color:#00356B;
  border: 2px solid darkslategrey;
  padding-top: 10px;
  opacity: 0.7;
}
img {
  /* display: inline-block; */
  max-width:80px;
  max-height:40px;
  width: auto;
  height: auto;
  /* position: absolute; */
}
.right_image{
  float: right;
  display: flex;
  max-height:30px;
  margin-right: 25px;
  position: relative;
}

.left_image{
  display: flex; 
  float: left;
  max-height:30px;
  margin-left: 25px;
  position: relative;
}
.text_inblock{
  margin-top: 0px;
  display: inline-block;
}
.center_image{
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;

}
.foot_text{
  display: flex;
  position: relative;
  margin: auto;
  /* text-align: center; */
  font-size:x-small;
  justify-content: center;
}

hr {
  color: red;
  background: red;
  background-color: red;
  width: 100%;
  /* align-items: left; */
  float: left;
}
.background_inherd {
  background-color: inherit !important;
}



.glow-on-hover {
  width: 245px;
  height: 50px;
  border: none;
  outline: none;
  /* color: #fff; */
  color: var(--light-text);
  background: var(--button-background);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;

}

.glow-on-hover:hover:before {
  opacity: 0.6;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #888; */
  background: inherit;
  left: 0;
  top: 0;
  border-radius: 10px;
  
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.force_center{
  display: flex;
    /* position: relative; */
  margin: auto !important;
  justify-content: center;
  flex-wrap: nowrap;
}
.force_w400{
  width: 50% !important;
  flex-wrap: wrap-reverse;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #CCC
}
.nowrapper{
  flex-wrap:nowrap;
  padding-top: 20px;

}

.h_iframe {
  position: relative;
}

.h_iframe .ratio {
  display: flex;
  width: 100%;
  height: auto;
}

.h_iframe iframe {
  /* position: absolute; */
 margin: auto;
  width: 100%;
  width:100%;
  height: 900px !important;
}



.arrow-icon {
  /* background-color: lightcoral; */
  height: 2.8em;
  width: 5em;
  /* width: 100px; */
  display: block;
  padding: 0.5em;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.left-bar {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.left-bar:after {
  content: "";
  background-color: var(--button-background-solid);
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.right-bar {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}
.right-bar:after {
  content: "";
  background-color: var(--button-background-solid);
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.open .left-bar:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}
.open .right-bar:after {
  transform-origin: center center;
  transform: rotate(70deg);
}

strong{
  color: var(--button-text-color);
  font-weight: 600;
}

em{
  color: rgb(211, 153, 65);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
}