* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#root {
  height: 100vh;  
  width: 100vw;
  max-width: 1600px;
  min-width: 1000px;
  padding: 50px;
  padding-right: 5%;
  padding-left: 5%;  
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: #ddeae1; */
  color: #4de76e;
}

h1 {
  margin: 0;
}
pre {
  display: inline-block;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-size: 16px;
  white-space: pre;
  margin: 1em 0px;
}
.show_main{
  padding-bottom: 20px;
}

.button {
  background-color: #4CAF50; /* Green */
  /* border: none; */
  color: white;
  padding: 15px 32px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.highlight {
  background-color: black;
}
.button_main {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
}
.button_ongoing {
  position: relative;
}
.button_learning {
  position: relative;
}
.button_setupenv {
  position: relative;
}

.button_sub_ongoing{
  width: 400px;
  margin-left: 25px;
  background-color: olivedrab;
}

.timedate {
  position: relative;
  display: inline-block;
  border: none;
  color: white;
  padding-left: 32px;
  /* text-align: center; */
  text-decoration: none;
  font-size: 16px;
}

#more {
  /* background:none; */
  border:none;
  /* color:#FFF; */
  font-family:Verdana, Geneva, sans-serif;
  cursor:pointer;
}

.main_content {
  display: inline-block;
  position: relative;
  background-color: darkslateblue;
  width: 100%;
  border: none;
  color: whitesmoke;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  /* font-family: serif; */
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-size: 16px;
  border: 1px solid blue;
}
.sub_ongoing{
  border: 2px solid darkolivegreen;
}
.learning {
  background-color: darkslateblue;
}

.ongoing {
  background-color: darkolivegreen;
}
.ongoing_chronology{
  background-color: rgb(71, 87, 43);
}
.ongoing_relationship{
  background-color: rgb(71, 87, 43);
}
.setupenv {
  background-color: darkslategrey;
}
a:link {
  color: lightgreen;
}
a:visited {
  color: lightsalmon;
}
/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
	background: #00356B;
}

#particles-js canvas {
  display: block;
  /* vertical-align: bottom; */
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}

pre,  /* stackoverflow */
.md:not(.use-csslab) pre code
 {
  white-space: pre-wrap;
}

.highlight_quote {
  background-color: #00356B;
  font-style: oblique;
}

blockquote{
  font-size: 1.4em;
  width:80%;
  margin:10px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 10px 10px 10px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

mdname{
  color: lightskyblue;
  font-weight: 500;
}
mdemail{
  color:lightcoral;
  font-weight: 600;
}


.footer{
  margin-top: 0px;
  /* padding: 1rem; */
  /* background-color: rgb(235, 195, 64); */
  background-color: darkgoldenrod;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color:#00356B;
  border: 2px solid darkslategrey;
}
img {
  padding-right: 20px;
  display: inline-block;
  max-width:120px;
  max-height:80px;
  width: auto;
  height: auto;
}
.right_image{
  float: right;
  max-height:30px;
  padding-right: 0px;
}
.center_image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot_text{
  text-align: center;
  font-size:x-small;

}